@import "reset.css";

body{
    margin: 5px;
    font-size: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: gainsboro;
    padding: 10px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.box1{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    gap:10px;
}
canvas{
    width:310px;
    height: 520px;
    background-color: white;
    border-radius: 10px;
}
.color-options{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.color-option{
    width: 23px;
    height: 23px;
    cursor: pointer;
    border-radius: 50%;
    border: 3px solid white;
    transition: transform ease-in-out .1s;
}
.color-option:hover{
    transform: scale(1.2);
}
.btn-box{
    position: absolute;
    top:560px;
    left:63px;
    display: flex;
    flex-direction: column;
    gap:10px;
}
#line-width{
    cursor: pointer;
}
input#color{
    width:35px;
    height:35px;
    border: none;
    background-color: gainsboro;
}
.btn-box button,
.btn-box input[type="file"]{
    cursor: pointer;
}
.btn-box button,
.btn-box label{
    all:unset;
    padding: 6px 0px;
    text-align: center;
    background-color: royalblue;
    color: white;
    font-weight: 500;
    cursor: pointer;
    border-radius: 10px;
    transition: opacity linear .1s;
}
button:hover{
    opacity: 0.85;
}
#text{
    all: unset;
    width:300px;
    padding: 10px 0px;
    border-radius: 10px;
    font-weight: 500;
    text-align: center;
    background-color: white;
}
input#file{
    display: none;
}